<% if user_signed_in? %>

  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <!--<th>User ID</th>-->
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user_id == current_user.id %>    
          <tr>
            <td><%= link_to friend.first_name << ' ' << friend.last_name, friend %></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <!--<td><%= friend.user_id %></td>-->
            <td><%= link_to "Delete", friend, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-primary" %>

<% else %>

  <h1>Welcome!</h1>
  <p>Log In or Sign Up to view your friends list</p>

<% end %>
