<style type="text/css">
    .jumbotron {
      padding: 4rem 2rem;
      margin-bottom: 2rem;
      background-color: var(--bs-light);
      border-radius: .3rem;  
    }
</style>

<!-- jumbotron component from Bootstrap v4-->
<div class="jumbotron">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead">
    <%= @friend.email %><br/>
    <%= @friend.phone %><br/>
    <%= @friend.twitter %><br/><br/>
  </p>
  <%= link_to 'Back', friends_path, class:"btn btn-secondary" %> | 
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-primary" %> | 
  <%= link_to "Delete", @friend, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
</div>
